/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 71px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #E1F5C4;
  background-color: #428bca;
}

.sidebar h4 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-bottom: 15px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.create-description {
  padding-bottom: 0px;
}

.preview-offer {
  margin-top: 20px;
  background: #E1F5C4;
  padding: 15px 20px 35px 20px;
  border-radius: 5px;
}

.preview-offer hr {
  border-top: 1px solid #CEE891;
}

.preview-offer h2 {
  font-weight: bold;
}

.preview-offer h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 18px;
  font-weight: bold;
}

.preview-offer span {
  font-size: 16px;
  font-weight: light;
}

.create-deal {
  background: #CEE891;
  font-size: 18px;
  font-weight: normal;
  color: #404f11;
  border: #CEE891;
}

.create-deal:hover {
  background: #E1F5C4;
}

.dash-sub-header {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}


h3.dash-metrics {
  color: #37aeac;
}

h4.dash-metrics {
  font-size: 18px;
  color: #37aeac;
}

h4.campaign-costs {
  font-size: 20px;
  color: #37aeac;
}

.comm-reach-img {
  margin-left: 25px;
}

.bizSupport {
  cursor: pointer;
}

body {
  height:100%; 
  overflow-y:hidden;
}

.home-bg {
  background-image: url('../img/home_cover.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.btn-home {
  position: absolute;

}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}



/*
 * Image Picker
 */

ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul.thumbnails.image_picker_selector ul {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px; 
}
ul.thumbnails.image_picker_selector li.group_title {
  float: none; 
}
ul.thumbnails.image_picker_selector li {
  margin: 0px 12px 12px 0px;
  float: left; 
}
ul.thumbnails.image_picker_selector li .thumbnail {
  padding: 15px;
  border: 1px solid #dddddd;
  text-align: center;
  -webkit-user-select: none;
  color: #777;
  -moz-user-select: none;
  -ms-user-select: none; 
}
ul.thumbnails.image_picker_selector li .thumbnail p {
  font-weight: bold;
}
ul.thumbnails.image_picker_selector li .thumbnail img {
  -webkit-user-drag: none; 
  padding-bottom: 15px;
}
ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #E1F5C4;
  color: #319b99;
}


/*
 * Globals
 */

/* Links */
a, a:focus, a:hover {
  color: #CFDD45;
  cursor: pointer;
}

/* Custom default button */
.btn-default, .btn-default:hover, .btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */

html, body {
  height: 100%;
}

.landing {
  padding-top: 0px;
}

.landing h1 {
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 25px;
}

.landing .btn-home {
}

.landing hr {
  margin-top: 37px;
  margin-bottom: 37px;
  margin-left: 40px;
  margin-right: 40px;
  border: 0;
  border-top: 1px solid #666;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url('../img/home_cover_blank.jpg');
  zoom: 1;
  text-align: center;
}
.page-wrapper {
  background-image: url('../img/home_cover_blank.jpg');
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
  color: #FFF;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 100;
}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  color: #CFDD45;
  background-color: transparent;
  border-bottom-color: #CFDD45;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


h4.modal-title, .modal-body {
  color: #777;
  text-shadow: none;
}

.modal-body a {
  color: #003262;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}



/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead, .mastfoot, .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead, .mastfoot, .cover-container {
    width: 700px;
  }
}
